<div>
    <h3>Ngrx store Todo list app</h3>
    <app-todo-list></app-todo-list>
</div>


<div>
    <h3> Parent child message passing </h3>
    <app-child header [input_data]="'Message from Parent'" (returnMessage)="returnMessaege($event)"></app-child>

    <br>
    <span> {{receivedMessage}}</span>
</div>

<div>
    <h3> Simple table with filter using pure pipes</h3>
    Search on the below table : <input type="text" [(ngModel)]="filterText" placeholder="filter" />
    <br>
    <br>
    <table class="tbl-cls">
        <tr>
            <td>
                Sno
            </td>
            <td>
                Name
            </td>
            <td>
                Age
            </td>
        </tr>
        <tr *ngFor="let item of employeeDetails| filter:  'name' :filterText; index as i;filterUser">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
        </tr>
    </table>
</div>

<div>
    <h3> Fake API call and Used observable operators</h3>
    <div *ngIf="data">
        Data from Observable: {{ data }}
      </div>
</div>

<div>
    <h3>ng-template vs ng-container vs ngTemplateOutlet</h3>
    <ng-template [ngIf]="data" #template1>
            <div><strong>If data is avaliable then ng-template content will be visible</strong></div>
    </ng-template>

    <ng-container *ngIf="data" >
        <div><strong>If data is avaliable then ng-conatiner content will be visible</strong></div>
    </ng-container>

    <ng-container >
        <div *ngFor="let emp of employeeDetails;">
            <ng-template #template2 [ngIf]="emp.name !=''">
                <div class="b-p-10">{{emp.name}} {{emp.age}}</div>
            </ng-template>
        </div>
    </ng-container>


    <ng-container *ngTemplateOutlet="template1">
        <div><strong>data will be visible if ngTemplateOutlet data will be presented</strong>i.e template1 presented on the above lines </div>
    </ng-container>

    <ng-container>
        <div><strong>data will be visible if ngTemplateOutlet data will be presented</strong>i.e template1 presented on the above lines </div>
    </ng-container>
    
    
</div>


<div>
    <h3>viewChild vs Contenchild example'</h3>
    <app-child #childRef>
        <span header #projectedContent>Projected Header content</span>
        <span body>Projected body content</span> 
        <span footer>Projected footer content</span> 
    </app-child>
</div>


<div>
    <h3>Custom directives -- used host listner and host binding</h3>
    <h4>default border color for text boxes</h4>
    <input type="text" appCustomDirective>
    <h4>auto capital letters</h4>
    <input type="text" auto-capital>
</div> 