<ng-container *ngIf="todos$() as todos;">
    <div *ngIf="todos.length; else empty">
      <div *ngFor="let todo of todos$(); let i = index;">
      {{todo.id}}  {{ todo.description }} - {{ todo.completed ? 'Done' : 'Pending' }}
        <button [disabled]="todo.completed" (click)="complete(todo)">
        complete
      </button>
    </div>
  </div>
  
    <ng-template #empty>
      <div>No Data</div>
    </ng-template>
  
  
  <button (click)="loadTodos()">Refresh</button>
  <button (click)="addTodo(todos.length + 1)">Add</button>
  
  <div *ngIf="isLoading$()">Loading...</div>
  
  </ng-container>